<div class="post d-flex flex-column">

  <div class="post-header d-flex flex-row">
    <div class="mx-3">
      <img src="https://res.cloudinary.com/ddz4cg7lj/image/upload/v1654218808/wagon_ydvmwg.jpg" alt="" class="avatar">
    </div>
    |||
    <%= post.user.name %>
  </div>

  <div class="post-img">
    <% if post.photo.key %>
      <%= cl_image_tag post.photo.key, crop: :fit, class: "fit-img" %>
    <% end %>
  </div>

  <div class="info bg-dark text-light">
    <h4>
    Artist: <%= post.artist %>
    </h4>
    <h4>
    Album: <%= post.album %>
    </h4>
    <h4>
    Song: <%= post.song %>
    </h4>
  </div>

  <div class="review">
    <strong>
    <%= post.title %>
    </strong>
    <%= post.description %>
  </div>

  <div class="comments">
    Comments will come later
  </div>
</div>



  <%# <td><%= link_to 'Show', post %></td> %>
  <%# <td><%= link_to 'Edit', edit_post_path(post) %></td> %>
  <%# <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td> %>
