<div class="post d-flex flex-column">

  <div class="post-header d-flex flex-row">
    <div class="mx-3 my-2 d-flex flex-row">
      <%= cl_image_tag post.user.avatar.key, class: "avatar" %>
      <strong class="mx-3">
        <%= post.user.name %>
      </strong>
    </div>
  </div>

  <div class="post-img">
    <% if post.photo.key %>
      <%= cl_image_tag post.photo.key, crop: :fit, class: "fit-img" %>
    <% end %>
  </div>

  <div class="review my-3">

    <div class="d-flex flex-row justify-content-around mx-3">
      <i class="fas fa-heart"></i>
      <i class="fas fa-eye"></i>
    </div>

    <strong>
    <%= post.user.name %>
    </strong>
    <%= post.description %>
  </div>

  <div class="comments mx-3">
    Comments will come later
  </div>
</div>



  <%# <td><%= link_to 'Show', post %></td> %>
  <%# <td><%= link_to 'Edit', edit_post_path(post) %></td> %>
  <%# <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td> %>
