<div class="post d-flex flex-column">

  <div class="post-header d-flex flex-row">
    <div class="mx-3 my-2 d-flex flex-row">
      <%= cl_image_tag post.user.avatar.key, class: "avatar" %>
      <strong class="mx-3">
        <%= post.user.name %>
      </strong>
    </div>
  </div>

  <div class="post-img">
    <% if post.photo.key %>
      <%= cl_image_tag post.photo.key, crop: :fit, class: "fit-img" %>
    <% end %>
  </div>

  <div class="review my-3">

    <div class="d-flex flex-row justify-content-around mx-3">
      <%# LIKE BUTTON %>
      <%= post.likes.count %> Likes
      <% like = current_user.likes.find_by(post:post) %>
      <% if like.nil? %>
        <%= button_to likes_path, params: {like: {post_id: post.id}}, class: "btn-like", method: :post do %>
          <i class="fas fa-heart"></i>
        <% end %>
      <% else %>
        <%# <%= button_to "Unlike", likes_path(like), method: :delete %>
        <form action="<%= like_path(like) %>" method="post">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit" class="btn-like">
            <i class="fas fa-heart red-heart"></i>
          </button>
          <%# <input type="submit" value="Unlike"> %>
        </form>
      <% end %>
      <i class="fas fa-eye"></i>
    </div>

    <strong>
    <%= post.user.name %>
    </strong>
    <%= post.description %>
  </div>

  <div class="comments mx-3">
    Comments will come later
  </div>
</div>



  <%# <td><%= link_to 'Show', post %></td> %>
  <%# <td><%= link_to 'Edit', edit_post_path(post) %></td> %>
  <%# <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td> %>
